html,
body {
    padding: 0;
    margin: 0;
    background: #000;
    overflow: hidden;
    cursor: url('../a/i/cursor.png'),16 16, auto;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: brightness(30%) blur(10px);
    background: url(../a/i/bg.jpg) center /cover;
    cursor: url('../a/i/cursor.png'),16 16, auto;
}

.center-wrapper {
    position: fixed;
    width: fit-content -moz-fit-content;
    top: 50vh;
    left: 50vw;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.center-wrapper>.center {
    justify-content: center;
    width: 75vw;
    display: flex;
    color: #fff;
    position: relative;
    transform: translate(-50%, -50%);
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.leaf {
    display: flex
}

.avatar {
    margin-bottom: 1em;
    width: 16em;
    height: 16em;
    border-radius: 100%;
    background: radial-gradient(yellow 30%, rgba(255, 69, 0, 1) 60%, red 90%);
    box-shadow: red 0 0 2vw 2vh;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.line {
    border-right: 3px solid #fff;
    justify-content: center;
    display: flex;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.title {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  text-decoration-color: #fff;
  font-size: 40px;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.avatar-wrapper {
    text-align: center;
    font-family: sans-serif;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.text {
    font-family: sans-serif;
    #padding: 0 5vw;
    text-align: center;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.text>p {
  color: #1eff00;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.text>*>img {
    cursor: text;
    width: 24px;
    height: 14.4px;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.text>hr {
    border: none;
    border-bottom: 1px solid #fff;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.text>a,
*>a {
    color: #ffffff;
    text-decoration-color: #fff;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.socials {
    display: flex;
    justify-content: center;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.socials>* {
    cursor: default;
    margin: .5rem;
    filter: invert(100%);
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.socials>*>img {
    cursor: pointer;
    width: 24px;
    height: 24px;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.social-div {
    display: flex;
    justify-content: center;
    font-family: monospace;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}
p#social {
  background: -webkit-linear-gradient(-86deg, #9a2855 80%, #b8a251 80%, #0e94af 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  cursor: url('../a/i/cursor.png'),16 16, auto;
}
.footer {
    font-family: monospace;
    font-size: small;
    position: fixed;
    text-align: right;
    overflow-wrap: break-word;
    bottom: 3em;
    right: 3em;
    color: rgba(90, 90, 90, .6);
    width: 100%;
    color: #fff;
  cursor: url('../a/i/cursor.png'),16 16, auto;
}

.glitch {
  text-align: center;
position: relative;
color: white;
/* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
left: 2px;
text-shadow: -2px 0 #ff00c1;
/* Creates an initial clip for our glitch. This works in
a typical top,right,bottom,left fashion and creates a mask
to only show a certain part of the glitch at a time. */
clip: rect(44px, 450px, 56px, 0);
/* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
with an alternating animation to keep things fresh. */
animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
left: -2px;
text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
0% {
  clip: rect(89px, 9999px, 38px, 0);
  transform: skew(0.89deg);
}
5% {
  clip: rect(14px, 9999px, 25px, 0);
  transform: skew(0.12deg);
}
10% {
  clip: rect(17px, 9999px, 15px, 0);
  transform: skew(0.17deg);
}
15% {
  clip: rect(23px, 9999px, 53px, 0);
  transform: skew(0.76deg);
}
20% {
  clip: rect(63px, 9999px, 72px, 0);
  transform: skew(0.09deg);
}
25% {
  clip: rect(62px, 9999px, 36px, 0);
  transform: skew(0.4deg);
}
30% {
  clip: rect(1px, 9999px, 46px, 0);
  transform: skew(0.02deg);
}
35% {
  clip: rect(53px, 9999px, 64px, 0);
  transform: skew(0.49deg);
}
40% {
  clip: rect(24px, 9999px, 21px, 0);
  transform: skew(0.33deg);
}
45% {
  clip: rect(72px, 9999px, 6px, 0);
  transform: skew(0.07deg);
}
50% {
  clip: rect(47px, 9999px, 61px, 0);
  transform: skew(0.48deg);
}
55% {
  clip: rect(65px, 9999px, 39px, 0);
  transform: skew(0.58deg);
}
60% {
  clip: rect(80px, 9999px, 71px, 0);
  transform: skew(0.25deg);
}
65% {
  clip: rect(94px, 9999px, 76px, 0);
  transform: skew(0.95deg);
}
70% {
  clip: rect(77px, 9999px, 32px, 0);
  transform: skew(0.56deg);
}
75% {
  clip: rect(13px, 9999px, 43px, 0);
  transform: skew(0.93deg);
}
80% {
  clip: rect(73px, 9999px, 16px, 0);
  transform: skew(0.59deg);
}
85% {
  clip: rect(27px, 9999px, 98px, 0);
  transform: skew(0.1deg);
}
90% {
  clip: rect(80px, 9999px, 55px, 0);
  transform: skew(0.17deg);
}
95% {
  clip: rect(19px, 9999px, 61px, 0);
  transform: skew(0.1deg);
}
100% {
  clip: rect(100px, 9999px, 88px, 0);
  transform: skew(0.81deg);
}
}
@keyframes glitch-anim2 {
0% {
  clip: rect(68px, 9999px, 68px, 0);
  transform: skew(0.29deg);
}
5% {
  clip: rect(80px, 9999px, 5px, 0);
  transform: skew(0.79deg);
}
10% {
  clip: rect(14px, 9999px, 3px, 0);
  transform: skew(0.8deg);
}
15% {
  clip: rect(71px, 9999px, 79px, 0);
  transform: skew(0.68deg);
}
20% {
  clip: rect(48px, 9999px, 14px, 0);
  transform: skew(0.64deg);
}
25% {
  clip: rect(50px, 9999px, 53px, 0);
  transform: skew(0.16deg);
}
30% {
  clip: rect(51px, 9999px, 9px, 0);
  transform: skew(0.27deg);
}
35% {
  clip: rect(63px, 9999px, 55px, 0);
  transform: skew(0.18deg);
}
40% {
  clip: rect(18px, 9999px, 94px, 0);
  transform: skew(0.7deg);
}
45% {
  clip: rect(18px, 9999px, 15px, 0);
  transform: skew(0.98deg);
}
50% {
  clip: rect(9px, 9999px, 62px, 0);
  transform: skew(0.46deg);
}
55% {
  clip: rect(28px, 9999px, 28px, 0);
  transform: skew(0.33deg);
}
60% {
  clip: rect(85px, 9999px, 27px, 0);
  transform: skew(0.91deg);
}
65% {
  clip: rect(81px, 9999px, 21px, 0);
  transform: skew(0.62deg);
}
70% {
  clip: rect(18px, 9999px, 68px, 0);
  transform: skew(0.35deg);
}
75% {
  clip: rect(85px, 9999px, 1px, 0);
  transform: skew(0.8deg);
}
80% {
  clip: rect(41px, 9999px, 82px, 0);
  transform: skew(0.62deg);
}
85% {
  clip: rect(94px, 9999px, 57px, 0);
  transform: skew(0.41deg);
}
90% {
  clip: rect(24px, 9999px, 49px, 0);
  transform: skew(0.24deg);
}
95% {
  clip: rect(96px, 9999px, 58px, 0);
  transform: skew(0.99deg);
}
100% {
  clip: rect(93px, 9999px, 48px, 0);
  transform: skew(0.91deg);
}
}
@keyframes glitch-skew {
0% {
  transform: skew(0deg);
}
10% {
  transform: skew(-2deg);
}
20% {
  transform: skew(3deg);
}
30% {
  transform: skew(-4deg);
}
40% {
  transform: skew(-3deg);
}
50% {
  transform: skew(-3deg);
}
60% {
  transform: skew(-3deg);
}
70% {
  transform: skew(5deg);
}
80% {
  transform: skew(1deg);
}
90% {
  transform: skew(5deg);
}
100% {
  transform: skew(-3deg);
}
}