@-webkit-keyframes jitter-20-20-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.05px, 0.15px);
  }
  90% {
    transform: translate(-0.8px, -0.1px);
  }
  85% {
    transform: translate(-1.05px, 0.15px);
  }
  80% {
    transform: translate(1.4px, 0.8px);
  }
  75% {
    transform: translate(1.75px, -0.75px);
  }
  70% {
    transform: translate(-0.3px, 1.2px);
  }
  65% {
    transform: translate(2.8px, 0.35px);
  }
  60% {
    transform: translate(0px, -0.4px);
  }
  55% {
    transform: translate(0.45px, 0px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  45% {
    transform: translate(4.4px, 0.55px);
  }
  40% {
    transform: translate(0.6px, 2.4px);
  }
  35% {
    transform: translate(5.85px, 1.95px);
  }
  30% {
    transform: translate(3.5px, 1.4px);
  }
  25% {
    transform: translate(3px, 1.5px);
  }
  20% {
    transform: translate(-0.8px, 0px);
  }
  15% {
    transform: translate(-1.7px, -0.85px);
  }
  10% {
    transform: translate(8.1px, 1.8px);
  }
  5% {
    transform: translate(6.65px, 2.85px);
  }
}
@keyframes jitter-20-20-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.05px, 0.15px);
  }
  90% {
    transform: translate(-0.8px, -0.1px);
  }
  85% {
    transform: translate(-1.05px, 0.15px);
  }
  80% {
    transform: translate(1.4px, 0.8px);
  }
  75% {
    transform: translate(1.75px, -0.75px);
  }
  70% {
    transform: translate(-0.3px, 1.2px);
  }
  65% {
    transform: translate(2.8px, 0.35px);
  }
  60% {
    transform: translate(0px, -0.4px);
  }
  55% {
    transform: translate(0.45px, 0px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  45% {
    transform: translate(4.4px, 0.55px);
  }
  40% {
    transform: translate(0.6px, 2.4px);
  }
  35% {
    transform: translate(5.85px, 1.95px);
  }
  30% {
    transform: translate(3.5px, 1.4px);
  }
  25% {
    transform: translate(3px, 1.5px);
  }
  20% {
    transform: translate(-0.8px, 0px);
  }
  15% {
    transform: translate(-1.7px, -0.85px);
  }
  10% {
    transform: translate(8.1px, 1.8px);
  }
  5% {
    transform: translate(6.65px, 2.85px);
  }
}
@-webkit-keyframes jitter-20-21-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0.225px, 0.15px);
  }
  90% {
    transform: translate(0.15px, 0.4px);
  }
  85% {
    transform: translate(-0.825px, 0px);
  }
  80% {
    transform: translate(-1.3px, 0.6px);
  }
  75% {
    transform: translate(-1.125px, -0.5px);
  }
  70% {
    transform: translate(1.65px, 0.6px);
  }
  65% {
    transform: translate(0.525px, 0px);
  }
  60% {
    transform: translate(1.4px, -1.2px);
  }
  55% {
    transform: translate(-4.275px, 0.9px);
  }
  50% {
    transform: translate(1.75px, -0.5px);
  }
  45% {
    transform: translate(-2.475px, 1.1px);
  }
  40% {
    transform: translate(-0.3px, -0.6px);
  }
  35% {
    transform: translate(4.225px, 2.6px);
  }
  30% {
    transform: translate(4.55px, 0.7px);
  }
  25% {
    transform: translate(-1.875px, -2.25px);
  }
  20% {
    transform: translate(3.6px, 1.6px);
  }
  15% {
    transform: translate(-7.225px, 0.85px);
  }
  10% {
    transform: translate(7.65px, 2.7px);
  }
  5% {
    transform: translate(4.275px, 0px);
  }
}
@keyframes jitter-20-21-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0.225px, 0.15px);
  }
  90% {
    transform: translate(0.15px, 0.4px);
  }
  85% {
    transform: translate(-0.825px, 0px);
  }
  80% {
    transform: translate(-1.3px, 0.6px);
  }
  75% {
    transform: translate(-1.125px, -0.5px);
  }
  70% {
    transform: translate(1.65px, 0.6px);
  }
  65% {
    transform: translate(0.525px, 0px);
  }
  60% {
    transform: translate(1.4px, -1.2px);
  }
  55% {
    transform: translate(-4.275px, 0.9px);
  }
  50% {
    transform: translate(1.75px, -0.5px);
  }
  45% {
    transform: translate(-2.475px, 1.1px);
  }
  40% {
    transform: translate(-0.3px, -0.6px);
  }
  35% {
    transform: translate(4.225px, 2.6px);
  }
  30% {
    transform: translate(4.55px, 0.7px);
  }
  25% {
    transform: translate(-1.875px, -2.25px);
  }
  20% {
    transform: translate(3.6px, 1.6px);
  }
  15% {
    transform: translate(-7.225px, 0.85px);
  }
  10% {
    transform: translate(7.65px, 2.7px);
  }
  5% {
    transform: translate(4.275px, 0px);
  }
}
@-webkit-keyframes jitter-20-22-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0.05px, 0px);
  }
  90% {
    transform: translate(0.1px, 0.2px);
  }
  85% {
    transform: translate(1.65px, -0.15px);
  }
  80% {
    transform: translate(0.2px, 0px);
  }
  75% {
    transform: translate(-2px, 1px);
  }
  70% {
    transform: translate(-0.6px, 0px);
  }
  65% {
    transform: translate(-0.35px, -0.7px);
  }
  60% {
    transform: translate(3.6px, -1.2px);
  }
  55% {
    transform: translate(0px, 1.35px);
  }
  50% {
    transform: translate(-1px, 0px);
  }
  45% {
    transform: translate(-3.85px, 1.1px);
  }
  40% {
    transform: translate(3px, 0px);
  }
  35% {
    transform: translate(6.5px, 0.65px);
  }
  30% {
    transform: translate(-2.8px, -0.7px);
  }
  25% {
    transform: translate(8.25px, 1.5px);
  }
  20% {
    transform: translate(8.8px, -2.4px);
  }
  15% {
    transform: translate(4.25px, 3.4px);
  }
  10% {
    transform: translate(-7.2px, 0.9px);
  }
  5% {
    transform: translate(-0.95px, -1.9px);
  }
}
@keyframes jitter-20-22-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0.05px, 0px);
  }
  90% {
    transform: translate(0.1px, 0.2px);
  }
  85% {
    transform: translate(1.65px, -0.15px);
  }
  80% {
    transform: translate(0.2px, 0px);
  }
  75% {
    transform: translate(-2px, 1px);
  }
  70% {
    transform: translate(-0.6px, 0px);
  }
  65% {
    transform: translate(-0.35px, -0.7px);
  }
  60% {
    transform: translate(3.6px, -1.2px);
  }
  55% {
    transform: translate(0px, 1.35px);
  }
  50% {
    transform: translate(-1px, 0px);
  }
  45% {
    transform: translate(-3.85px, 1.1px);
  }
  40% {
    transform: translate(3px, 0px);
  }
  35% {
    transform: translate(6.5px, 0.65px);
  }
  30% {
    transform: translate(-2.8px, -0.7px);
  }
  25% {
    transform: translate(8.25px, 1.5px);
  }
  20% {
    transform: translate(8.8px, -2.4px);
  }
  15% {
    transform: translate(4.25px, 3.4px);
  }
  10% {
    transform: translate(-7.2px, 0.9px);
  }
  5% {
    transform: translate(-0.95px, -1.9px);
  }
}
@-webkit-keyframes jitter-20-23-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.175px, -0.1px);
  }
  90% {
    transform: translate(0.65px, 0px);
  }
  85% {
    transform: translate(0.975px, -0.15px);
  }
  80% {
    transform: translate(0.7px, 0px);
  }
  75% {
    transform: translate(-1.125px, -0.75px);
  }
  70% {
    transform: translate(-3.15px, 0.6px);
  }
  65% {
    transform: translate(-0.525px, 0px);
  }
  60% {
    transform: translate(-1.8px, 0.8px);
  }
  55% {
    transform: translate(-4.725px, 1.8px);
  }
  50% {
    transform: translate(-0.25px, 2px);
  }
  45% {
    transform: translate(1.375px, -1.65px);
  }
  40% {
    transform: translate(3.9px, 1.2px);
  }
  35% {
    transform: translate(-1.625px, -1.95px);
  }
  30% {
    transform: translate(-5.25px, 2.1px);
  }
  25% {
    transform: translate(-4.875px, 3px);
  }
  20% {
    transform: translate(4.4px, 2.4px);
  }
  15% {
    transform: translate(-5.525px, -1.7px);
  }
  10% {
    transform: translate(4.05px, 0px);
  }
  5% {
    transform: translate(-2.375px, -1.9px);
  }
}
@keyframes jitter-20-23-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.175px, -0.1px);
  }
  90% {
    transform: translate(0.65px, 0px);
  }
  85% {
    transform: translate(0.975px, -0.15px);
  }
  80% {
    transform: translate(0.7px, 0px);
  }
  75% {
    transform: translate(-1.125px, -0.75px);
  }
  70% {
    transform: translate(-3.15px, 0.6px);
  }
  65% {
    transform: translate(-0.525px, 0px);
  }
  60% {
    transform: translate(-1.8px, 0.8px);
  }
  55% {
    transform: translate(-4.725px, 1.8px);
  }
  50% {
    transform: translate(-0.25px, 2px);
  }
  45% {
    transform: translate(1.375px, -1.65px);
  }
  40% {
    transform: translate(3.9px, 1.2px);
  }
  35% {
    transform: translate(-1.625px, -1.95px);
  }
  30% {
    transform: translate(-5.25px, 2.1px);
  }
  25% {
    transform: translate(-4.875px, 3px);
  }
  20% {
    transform: translate(4.4px, 2.4px);
  }
  15% {
    transform: translate(-5.525px, -1.7px);
  }
  10% {
    transform: translate(4.05px, 0px);
  }
  5% {
    transform: translate(-2.375px, -1.9px);
  }
}
@-webkit-keyframes jitter-20-24-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0.3px, -0.1px);
  }
  90% {
    transform: translate(-0.5px, 0.1px);
  }
  85% {
    transform: translate(1.8px, 0.6px);
  }
  80% {
    transform: translate(-0.2px, -0.2px);
  }
  75% {
    transform: translate(-2px, 1px);
  }
  70% {
    transform: translate(3px, 0px);
  }
  65% {
    transform: translate(2.1px, 0.7px);
  }
  60% {
    transform: translate(-2.8px, -1.2px);
  }
  55% {
    transform: translate(4.5px, -1.35px);
  }
  50% {
    transform: translate(-3.5px, 1px);
  }
  45% {
    transform: translate(-4.95px, 0.55px);
  }
  40% {
    transform: translate(-3.6px, 2.4px);
  }
  35% {
    transform: translate(4.55px, -0.65px);
  }
  30% {
    transform: translate(4.2px, -0.7px);
  }
  25% {
    transform: translate(-3px, 0.75px);
  }
  20% {
    transform: translate(-4.8px, -0.8px);
  }
  15% {
    transform: translate(-7.65px, -0.85px);
  }
  10% {
    transform: translate(-7.2px, 2.7px);
  }
  5% {
    transform: translate(-8.55px, 1.9px);
  }
}
@keyframes jitter-20-24-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0.3px, -0.1px);
  }
  90% {
    transform: translate(-0.5px, 0.1px);
  }
  85% {
    transform: translate(1.8px, 0.6px);
  }
  80% {
    transform: translate(-0.2px, -0.2px);
  }
  75% {
    transform: translate(-2px, 1px);
  }
  70% {
    transform: translate(3px, 0px);
  }
  65% {
    transform: translate(2.1px, 0.7px);
  }
  60% {
    transform: translate(-2.8px, -1.2px);
  }
  55% {
    transform: translate(4.5px, -1.35px);
  }
  50% {
    transform: translate(-3.5px, 1px);
  }
  45% {
    transform: translate(-4.95px, 0.55px);
  }
  40% {
    transform: translate(-3.6px, 2.4px);
  }
  35% {
    transform: translate(4.55px, -0.65px);
  }
  30% {
    transform: translate(4.2px, -0.7px);
  }
  25% {
    transform: translate(-3px, 0.75px);
  }
  20% {
    transform: translate(-4.8px, -0.8px);
  }
  15% {
    transform: translate(-7.65px, -0.85px);
  }
  10% {
    transform: translate(-7.2px, 2.7px);
  }
  5% {
    transform: translate(-8.55px, 1.9px);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: #111;
}

a {
  text-decoration: none;
  color: #d70000;
}

.glitch-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  bottom: -750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.glitch-btn:hover {
  color: black;
}
.glitch-btn:hover:before {
  background: white;
  transform: translateY(-50%) scaleY(1.5);
}

.glitch-btn .mask {
  position: absolute;
  -webkit-backface-visibility: hidden;
  height: 20%;
  width: 100%;
  overflow: hidden;
  display: none;
}
.glitch-btn .mask span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.glitch-btn .mask:nth-child(6) {
  top: 100%;
}
.glitch-btn .mask:nth-child(6) span {
  top: -500%;
}
.glitch-btn .mask:nth-child(5) {
  top: 80%;
}
.glitch-btn .mask:nth-child(5) span {
  top: -400%;
}
.glitch-btn .mask:nth-child(4) {
  top: 60%;
}
.glitch-btn .mask:nth-child(4) span {
  top: -300%;
}
.glitch-btn .mask:nth-child(3) {
  top: 40%;
}
.glitch-btn .mask:nth-child(3) span {
  top: -200%;
}
.glitch-btn .mask:nth-child(2) {
  top: 20%;
}
.glitch-btn .mask:nth-child(2) span {
  top: -100%;
}
.glitch-btn:hover .label {
  -webkit-animation: fade-in 0.8s both;
  animation: fade-in 0.8s both;
}
.glitch-btn:hover .mask {
  display: block;
}
.glitch-btn:hover .mask:nth-child(6) {
  -webkit-animation: jitter-20-25-8 0.3s both;
  animation: jitter-20-25-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(5) {
  -webkit-animation: jitter-20-24-8 0.3s both;
  animation: jitter-20-24-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(4) {
  -webkit-animation: jitter-20-23-8 0.3s both;
  animation: jitter-20-23-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(3) {
  -webkit-animation: jitter-20-22-8 0.3s both;
  animation: jitter-20-22-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(2) {
  -webkit-animation: jitter-20-21-8 0.3s both;
  animation: jitter-20-21-8 0.3s both;
}